<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SanPhamHome_Controller</servlet-name>
        <servlet-class>Controller.SanPhamHome_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamAdd_Controller</servlet-name>
        <servlet-class>Controller.SanPhamAdd_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPham_Add_Update_Controller</servlet-name>
        <servlet-class>Controller.SanPham_Add_Update_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamDelete_Controller</servlet-name>
        <servlet-class>Controller.SanPhamDelete_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamSearch_Controller</servlet-name>
        <servlet-class>Controller.SanPhamSearch_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SanPhamHome_Controller</servlet-name>
        <url-pattern>/SanPhamHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamAdd_Controller</servlet-name>
        <url-pattern>/SanPhamAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPham_Add_Update_Controller</servlet-name>
        <url-pattern>/SanPham_Add_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamDelete_Controller</servlet-name>
        <url-pattern>/SanPhamDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamSearch_Controller</servlet-name>
        <url-pattern>/SanPhamSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
